h1#gg-fanzone-title {
	position: relative;
	left: -30px;
	display: block;
	width: 190px;
	height: 0px;
	padding: 78px 0px 0px;
	margin: -40px 0px 0px !important;
	overflow: hidden;
	background: url("../img/fanzone/photos-small-title-nobg.png") no-repeat 0px 0px; 
}