/* Titles
----------------------------------------------------------------------------------------------------------------------------*/
h1#gg-grub-title { background: url(../img/grub/h1-title-grub.png) no-repeat; width: 228px; height: 0px; display: block; padding: 113px 0 0 0; overflow: hidden; position: relative; left: -20px; margin: -50px 0 0 0!important; }
#gully01 { background: url(../img/grub/gully01.png); width: 148px; height: 122px; position: absolute; top: -45px; left: 155px; z-index: 10000; }

/* Typography
----------------------------------------------------------------------------------------------------------------------------*/
#gg-common-middle h2 { font-size: 2em; font-weight: bold; margin: 0 0 5px 0; color: #003e7f; }
#gg-common-middle h2 a { text-decoration: none; }
#gg-common-middle .button { margin-top: -10px; float: left; }
#gg-common-middle .item { clear: both; /*height: 140px;*/ padding: 0px 0px 50px 0px; }
.shiftleft { padding-left: 110px; }

/* Images
----------------------------------------------------------------------------------------------------------------------------*/
#gg-common-middle .leftalpha { float: left; margin: -10px 10px 0 -30px; position: relative; }
.leftintro { position: absolute; left: 5px; top: 70px }

#gg-grub-shift-left p { padding-left: 110px; }