@charset "UTF-8";
/* CSS Document */

/* Meet the Team Slider 
----------------------------------------------------------------------------------------------------*/
div#ts-mtt-slider { position: relative; top: 0px; left: 32px; }

div#ts-mtt-slider ul { list-style:none; padding: 0px; }

div#ts-mtt-slider li { width: 372px; height: 497px; overflow:hidden;  }

span#prevBtn a { position: absolute; top: 362px; left: 20px; background:transparent url(../img/global/gallery-arrow-left.png) repeat scroll 0 0; display: block; height: 0px; overflow: hidden; padding: 12px 0px 0px 0px; width: 8px; }
	
span#nextBtn a { position: absolute; top: 362px; left: 430px; background:transparent url(../img/global/gallery-arrow-right.png) repeat scroll 0 0; display: block; height: 0px; overflow: hidden; padding: 12px 0px 0px 0px; width: 8px; }

div.ts-mtt-player-card { float: left; width: 110px; padding: 0px 7px 5px 7px; }
div.ts-mtt-player-card img { border: 1px solid #fff; }
div.ts-mtt-player-card p { padding: 0px !important; margin: 0px !important; font-size: 1em !important; text-align: center; }
div.ts-mtt-player-card p a { color: #01b5dd !important; }
div.ts-mtt-player-card p a:hover { text-decoration: underline; }