<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/about.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->



</head>

<body>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
    
    
    <!-- Side Panels -->
    <div class="grid_1"> <!-- /ul#secondary -->      
        <ul id="secondary">
            <li><a href="#">Parties</a></li>
            <li><a href="#">Schools</a></li> 
            <li><a href="#">Join</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <div id="gg-tweet-box"><!-- #gg-tweet-box -->
        	<div class="tweet">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing facilisis auctor id <a href="#">sit amet ipsum</a></p>        
			</div>
            <ul>
                <li><a href="#" class="rss">RSS</a></li>
                <li><a href="#" class="twitter">Twitter</a></li>
                <li><a href="#" class="facebook">Facebook</a></li>
                <li class="safe"><a href="#">Safeonline Guide</a></li>
            </ul>
        </div><!-- /#gg-tweet-box -->
        
    <!-- Fan Panel -->
      <div id="gg-fan-panel">
         <div id="gg-fan-panel-top"><h2 class="spacer">Welcome back<br />
         <strong>Dean Hayden</strong></h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p><a href="#">Logout</a> <a href="#">Safeonline</a></p><a href="#" class="button">Profile Page</a>
            </div>
        </div>
      </div>
    <!-- /Fan Panel -->
    
      <div id="gg-offer-panel">
      
      </div>
    
    </div> 
	<!-- /Side Panels -->
  
  
    
<div class="grid_3">



<!-- INTRO/////////////////////////////////////////////////// -->    
    <div id="gg-intro-top"></div> <!-- #gg-intro-top -->
    <div id="gg-intro-bg"> <!-- #gg-intro-top -->
    <div id="gg-intro-title"></div>
    <div id="gg-intro-gully"></div>
    <div id="gg-about-page-content">
    <h1>Meet the coolest Seagull in town, Gully</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, a sed do eiusmod tempor incididunt ut labore et dolore magna the a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.There is alaboris nisi ut aliquip ex ea commodo there a conequat Albion aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    </div> <!-- /#gg-intro-top -->

<!-- BLOG/////////////////////////////////////////////////// --> 
<div id="gg-about-blog-post">
    <div id="gg-common-top"></div> <!-- /#gg-common-top -->
    <div id="gg-common-middle" class="entry">
        <div class="date">
        <span class="day">1st</span>
        <span class="month">December</span>
        </div>
        <h1><a href="http://192.168.1.145/bhafc/gg/gully/?p=34" rel="bookmark" title="Permanent Link to Testing The Theme Elements">Testing The Theme Elements</a></h1>
        <div class="entry">
        <a href="http://192.168.1.145/bhafc/gg/gully/?p=34" rel="bookmark" title="Permanent Link to Testing The Theme Elements"><img src="http://192.168.1.145/bhafc/gg/gully/wp-content/uploads/2008/12/010433381978100-150x150.jpg" class="attached-image" alt="0,,10433~3819781,00" title="0,,10433~3819781,00" width="150" height="150" /></a>
        <p>This is a left-aligned image. (With NO Padding) Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes.  Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes. Ne per probo magna idque, est veniam exerci appareat no. Sit at amet propriae intellegebat, natum iusto forensibus duo ut. Pro hinc aperiri fabulas ut, probo tractatos euripidis an vis, ignota [...]</p>
        </div>
    <div class="clearer"></div>
    </div> <!-- /#gg-common-niddle -->
    <div id="gg-common-bottom">
            <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="player">New Updates!</p><a href="#" class="button">Visit Blog</a>
            </div>
            </div>
    </div> <!-- /#gg-common-bottom -->
</div>



<!-- Schools Panel -->
<div class="grid_1 nomargin">
	<div id="gg-school-panel">
     <div id="gg-school-panel-top"><h2 class="spacer">Get Gully<br />
to visit <br />
your school</h2></div>
    <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p class="football">Gully at School</p><a href="#" class="button">Read More</a>
        </div>
    </div>
    </div>
</div>
<!-- /Fan Panel -->



<!-- Parties Panel -->
<div class="grid_2 omega">
    <div id="gg-party-panel">
    <div id="gg-party-panel-top"><h2>It's party time with<br />
		<strong>Gully the party animal!</strong></h2></div>
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p class="player">Party Time!</p><a href="#" class="button">Find out more</a>
        </div>
        </div>
    </div>
</div>
<!-- /News Panel -->	





</div> 


			





<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
  
  <div id="flash"></div>
  
  <a id="sponsored-by" href="http://www.teenagecancertrust.org/" target="_blank">
  	<img src="img/global/tct.png" alt="Teenage Cancer Trust" />
  </a> 
  
</body>
</html>
