<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/cheerleaders.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>

<div id="social-media-btns">
	<img usemap="#social-btn-map" alt="Social Media Buttons" src="gg-btns.png" />

	<map name="social-btn-map">
  		<area shape="rect" coords="8,5,50,36" href="http://twitter.com/#!/gullysgirls" alt="Twitter" target="new" />
  		<area shape="rect" coords="8,40,50,77" href="http://www.facebook.com/#!/pages/Gullys-Girls-Bhafc-Cheerleaders/188946404454924" alt="Facebook" target="new" />
  		<area shape="rect" coords="8,80,50,120" href="http://www.youtube.com/user/GullysGirls" alt="You tube" target="new"  />
	</map>

</div>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
    
<div class="grid_2">
<!-- Cheerleader Intro Panel -->
	
        <div id="gg-cheerleader-intro-panel">
         <div id="gg-cheerleader-intro-panel-top"></div>
         <div id="marina-badge"></div>
         <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nisl felis, eget feugiat orci. Donec et orci dui. Aenean orci dolor, mattis id viverra quis, porttitor id magna. Nam nisi elit, hendrerit at congue id, eleifend semper elit. Proin pellentesque tempus ultricies. Integer metus justo, malesuada rhoncus euismod quis, auctor sodales ante. Praesent egestas varius quam vel auctor. Mauris sit amet urna nec magna bibendum facilisis sed in nisl. Aliquam rhoncus urna vitae metus pulvinar non laoreet nibh pulvinar. </p></div>
        </div>
	
<!-- /Cheerleader Intro Panel -->

<!-- Fun Stuff Panel -->
	
        <div id="gg-cheerleader-funstuff-panel">
         <div id="gg-cheerleader-funstuff-panel-top"><h2 class="spacer">Explore some cool<br /><strong>Cheerleader Fun Stuff</strong></h2></div>
         
         <div class="bottom-panel-bg">
                <div class="bottom-panel">
                <p class="football"><strong>Lorem Ipsum</strong></p><a href="#" class="button">Lets Go!</a>
                </div>
            </div>
         
         
       
	
<!-- /Fun Stuff Panel -->
</div>
</div>

<!-- Score Panel -->
<div class="grid_1 top" >
    <div id="gg-scores-panel">
            <div id="gg-scores-panel-top">
              <h2 class="spacer">The latest <strong>Seagulls</strong> scores</h2>
          </div>
            <div class="content">
    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="odd">
                <td>Norwhich</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Southampton</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Tranmere</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Leeds United</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Another Team</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            </div>
            <div class="bottom-panel-bg">
                <div class="bottom-panel">
                <p class="football"><strong>New Results!</strong></p><a href="#" class="button">Latest Scores</a>
                </div>
            </div>
    </div>
</div>
<!-- /Score Panel -->



<!-- Cheerleader Panel -->
<div class="grid_1 top">
  <div id="gg-cheerleader-panel">
    <div id="gg-cheerleader-panel-top">
      <h2 class="spacer">Become a cool<br /><strong>Cheerleader</strong></h2>
    </div>
    <div class="bottom-panel-bg">
      <div class="bottom-panel">
        <p>How we did it</p><a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>
</div>
<!-- /Cheerleader Panel -->



<!-- gg-cheerleader-gallery -->
<div class="grid_2">
    <div id="gg-cheerleaders-gallery">
    <div id="gg-cheerleaders-gallery-top"><h2 class="spacer">All videos &amp; pictures<br />from <strong>Gully's Girls</strong></h2></div>
        <!-- gg-cheerleader-gallery-container -->
        <div id="gg-cheerleaders-gallery-container">
        <div id="gg-cheerleaders-gallery-img"><img src="img/global/placeholder.png" alt="Placeholder" width="267" height="195" /></div>
      
            <!-- gg-drawing-img -->
            <!-- /gg-drawing-img -->

            <!-- gg-cheerleader-gallery-thumbs -->
            <div id="gg-cheerleaders-gallery-thumbs">
            <a href="#" class="leftarrow">Left</a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
            <a href="#" class="rightarrow">Right</a>
            </div>
            <!-- /gg-cheerleader-gallery-thumbs -->      
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p>Update: 27/1/2010</p><a href="#" class="button">See More</a></div>
        </div>
        </div>
        </div>
</div>        
<!-- /gg-cheerleader-gallery-container -->




<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div class="clearer"></div>
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    <div class="clearer"></div>
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->

  <a id="sponsored-by" href="http://www.teenagecancertrust.org/" target="_blank">
  	<img src="img/global/tct.png" alt="Teenage Cancer Trust" />
  </a> 

</body>
</html>
