<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

<style>

</style>


</head>

<body>

  <div class="container container_4">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#" class="on">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
      
        <div class="grid_1">      
            <ul id="secondary"> <!-- /ul#secondary -->
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Sit amet consectetur</a></li> 
                <li><a href="#" class="on">Adipiscing elit</a></li>
                <li><a href="#">Phasellus elementum urna</a></li>
                <li><a href="#">Sed felis tincidunt</a></li>
                <li><a href="#">Auis rutrum felis</a></li>
                <li><a href="#">Vestibulum</a></li>
                <li><a href="#">Sed vitae velit enim</a></li>
                <li><a href="#">Ullamcorper felis</a></li>
            </ul>
        </div>      
      
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
        <div class="grid_3 position-fix">     
            <div id="gg-common-top"></div> <!-- /#gg-common-top -->
      		<div id="gg-common-middle">
            
            <h1>Lorem ipsum</h1>
            <p><strong>Dolor sit amet, consectetur adipiscing elit. Proin et libero sapien. Sed a tortor non nisl ultrices consequat. Sed nec nisi a dolor consequat luctus pharetra a est. Maecenas in felis libero, eget egestas nunc. Phasellus eget lacus id nulla vehicula aliquet. </strong></p>
            <blockquote>
            <p>Phasellus tincidunt egestas ipsum, vel pretium sapien convallis vel. In hac habitasse platea dictumst. Cras pharetra blandit est mattis porttitor. Aenean faucibus varius vestibulum. Morbi a neque ligula. In vitae justo nulla, ornare sagittis nisl. Suspendisse id porttitor libero. </p>
            </blockquote>
            <p>Vestibulum eu lectus id neque adipiscing ultrices ut pharetra ante. Fusce auctor volutpat fringilla.
              Nam in odio egestas leo porta posuere. Ut ornare dictum rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim sapien ac neque porta tempus. </p>
            <h2>Vivamus quis lacus arcu</h2>
            <p>Id pretium tellus. Nulla felis diam, dignissim quis bibendum ut, fermentum et diam. Quisque ornare consequat pretium. Curabitur justo augue, volutpat eu feugiat eu, sodales ut sapien. Proin pharetra est vel felis venenatis a egestas nisi tempus. Phasellus tincidunt egestas ipsum, vel pretium sapien convallis vel. In hac habitasse platea dictumst. Cras pharetra blandit est mattis porttitor. <a href="#">Aenean faucibus</a> varius vestibulum. Morbi a neque ligula. In vitae justo nulla, ornare sagittis nisl. Suspendisse id porttitor libero. Vestibulum eu lectus id neque adipiscing ultrices ut pharetra ante. Fusce auctor volutpat fringilla.</p>
            <p>Mauris purus sem, vehicula ac fringilla eget, sagittis nec quam. <a href="#">Praesent quis dignissim</a> nulla. Duis auctor ligula sed mauris volutpat nec mattis lacus tincidunt. Morbi hendrerit urna et ante bibendum tristique. Mauris nec nunc enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Nullam at mi in elit sollicitudin placerat. Proin posuere, neque ut pellentesque volutpat, enim magna dictum nisl, eu blandit nunc elit a mauris. Ut libero odio, lacinia ut laoreet quis, faucibus ut mi. Morbi pharetra mattis magna, vitae mattis quam lobortis non. </p>
            <h3>Nam in odio egestas</h3>
            <p>Leo porta posuere. Ut ornare dictum rhoncus. <a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Mauris dignissim sapien ac neque porta tempus. Mauris purus sem, vehicula ac fringilla eget, sagittis nec quam. Praesent quis dignissim nulla. Duis auctor ligula sed mauris volutpat nec mattis lacus tincidunt.</p>
            <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Vestibulum auctor vehicula purus, nec aliquet nibh vestibulum sed.</li>
            <li>Quisque quis erat neque, a blandit lectus.</li>
            <li>Cras viverra arcu id velit lacinia sit amet eleifend augue commodo.</li>
            <li>Sed eu orci sed tortor consectetur euismod.</li>
            </ul>
            <p>Morbi hendrerit urna et ante bibendum tristique. Mauris nec nunc enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Nullam at mi in elit sollicitudin placerat. Proin posuere, neque ut pellentesque volutpat, enim magna dictum nisl, eu blandit nunc elit a mauris. Ut libero odio, lacinia ut laoreet quis, faucibus ut mi. Morbi pharetra mattis magna, vitae mattis quam lobortis non.</p>
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Consectetur adipiscing elit. Proin et libero sapien. Sed a tortor non nisl ultrices consequat. Sed nec nisi a dolor consequat luctus pharetra a est. Maecenas in felis libero, eget egestas nunc. Phasellus eget lacus id nulla vehicula aliquet. Vivamus quis lacus arcu, id pretium tellus. Nulla felis diam, dignissim quis bibendum ut, fermentum et diam. Quisque ornare consequat pretium. Curabitur justo augue, volutpat eu feugiat eu, sodales ut sapien. Proin pharetra est vel felis venenatis a egestas nisi tempus. </p>
            <p>Phasellus tincidunt egestas ipsum, vel pretium sapien convallis vel. In hac habitasse platea dictumst. Cras pharetra blandit est mattis porttitor. Aenean faucibus varius vestibulum. Morbi a neque ligula. In vitae justo nulla, ornare sagittis nisl. Suspendisse id porttitor libero. Vestibulum eu lectus id neque adipiscing ultrices ut pharetra ante. Fusce auctor volutpat fringilla.
            Nam in odio egestas leo porta posuere. Ut ornare dictum rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim sapien ac neque porta tempus. </p>
            <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Vestibulum auctor vehicula purus, nec aliquet nibh vestibulum sed.</li>
            <li>Quisque quis erat neque, a blandit lectus.</li>
            <li>Cras viverra arcu id velit lacinia sit amet eleifend augue commodo.</li>
            <li>Sed eu orci sed tortor consectetur euismod.</li>
            </ol>
            <p>Mauris purus sem, vehicula ac fringilla eget, sagittis nec quam. Praesent quis dignissim nulla. Duis auctor ligula sed mauris volutpat nec mattis lacus tincidunt. Morbi hendrerit urna et ante bibendum tristique. Mauris nec nunc enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Nullam at mi in elit sollicitudin placerat. Proin posuere, neque ut pellentesque volutpat, enim magna dictum nisl, eu blandit nunc elit a mauris. Ut libero odio, lacinia ut laoreet quis, faucibus ut mi. Morbi pharetra mattis magna, vitae mattis quam lobortis non. </p>
            <a class="button" href="#">Button</a>
        </div> <!-- /#gg-common-niddle -->
      	<div id="gg-common-bottom"></div> <!-- /#gg-common-bottom -->
        
        </div>      
        <div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy & Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
</body>
</html>
