<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/grub.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>
  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
    
    
    <!-- Side Panels -->
    <div class="grid_1"> <!-- /ul#secondary -->      
        <ul id="secondary">
            <li><a href="#">Breakfast, Lunch &amp; Supper</a></li>
            <li><a href="#">Snacks &amp; Recovery Food</a></li> 
            <li><a href="#">Pre-match Meals</a></li>
            <li><a href="#">Drinks</a></li>
        </ul>
            
     <!-- Skills Panel -->
        <div id="gg-skills-panel">
         <div id="gg-skills-panel-top"></div>
         <div class="boy"></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p>Learn from the pros</p><a href="#" class="button">Lets do it...</a></div>
        </div>
        </div>
    <!-- /Skills Panel -->

<!-- Games Panel -->
	    <div id="gg-gameon-panel" class="bump">
         <div id="gg-gameon-panel-top"><h2 class="spacer">Great free games</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="player">Top scorer?</p><a href="#" class="button">Play Now!</a></div>
        </div>
        </div>
<!-- /Games Panel -->

    </div> 
	<!-- /Side Panels -->
  
  
    
<div class="grid_3">



<!-- INTRO/////////////////////////////////////////////////// -->    
    <div id="gg-intro-top"></div> <!-- #gg-intro-top -->
    <div id="gg-intro-bg"> <!-- #gg-intro-top -->
      <div id="gg-intro-title"></div>
      <div id="gg-intro-gully"></div>
      <h1 id="gg-grub-title">Grub</h1>
      <div id="gully01"></div>
      <h1>Food, glorious food</h1>
      <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, a sed do eiusmod tempor incididunt ut labore et dolore magna the a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.There is alaboris nisi ut aliquip ex ea commodo there a conequat Albion aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div> <!-- /#gg-intro-top -->

<!-- BLOG/////////////////////////////////////////////////// --> 
    <div id="gg-common-top"></div> <!-- /#gg-common-top -->
    <div id="gg-common-middle">

<div class="item" id="breakfast-supper-lunch">
<img src="img/grub/food-polaroid01.png" alt="" class="leftalpha" />       
<h2><a href="#">Breakfast, Lunch &amp; Supper</a></h2>
<p>Fusce aliquet sapien id sapien ullamcorper accumsan. Phasellus egestas porttitor leo, nec porta massa consectetur eu. Nam ultricies pharetra dui vel dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vitae tortor ante, sed sagittis purus. Nulla convallis consectetur interdum. Nam placerat dolor eget.</p>
<a href="#" class="button">Tell me more</a>
</div>

<div class="item" id="snacks-recovery-food">
<img src="img/grub/food-polaroid02.png" alt="" class="leftalpha" />
<h2><a href="#">Snacks &amp; Recovery Food</a></h2> 
<p>Etiam dapibus ligula nec arcu adipiscing at ornare mi eleifend. Curabitur sed quam eget lectus scelerisque dapibus. Praesent blandit tincidunt nibh a malesuada. Nullam iaculis dolor quis erat dictum mattis. Integer semper est a risus accumsan facilisis. Nulla facilisi. Sed tristique porta nunc eu euismod. Cras nibh elit, semper eget.</p>
<a href="#" class="button">Tell me more</a>
</div>

<div class="item" id="pre-match-meals">
<img src="img/grub/food-polaroid03.png" alt="" class="leftalpha" />
<h2><a href="#">Pre-match Meals</a></h2>
<p>Proin vitae placerat sapien. Pellentesque ut arcu tortor, in faucibus sem. Aliquam erat volutpat. Cras ac sem ut quam luctus convallis non quis odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ut lacus ac elit facilisis suscipit ac ut tellus. Donec rutrum imperdiet ante.</p>
<a href="#" class="button">Tell me more</a>
</div>

<div class="item" id="drinks">
<img src="img/grub/food-polaroid04.png" alt="" class="leftalpha" />
<h2><a href="#">Drinks</a></h2>
<p>Ut molestie arcu id leo eleifend tempus. Suspendisse eu ligula id dui porttitor facilisis sit amet et arcu. Curabitur a mauris turpis, ac lacinia nibh. Mauris eu sapien magna. Phasellus adipiscing vulputate enim eget dictum. Pellentesque consequat leo a quam gravida scelerisque. Aliquam viverra ultricies semper. Phasellus vestibulum, elit quis.</p>
 <a href="#" class="button">Tell me more</a>      
 </div>      
        <div class="clearer"></div>
    </div> <!-- /#gg-common-niddle -->
    <div id="gg-common-bottom">
           
    </div> <!-- /#gg-common-bottom -->










</div> 


			





<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
  
  <div id="flash"></div>  
  
  <a id="sponsored-by" href="http://www.teenagecancertrust.org/" target="_blank">
  	<img src="img/global/tct.png" alt="Teenage Cancer Trust" />
  </a> 

  
</body>
</html>
