<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/home.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>

  <div class="container container_4 hub" id="home">
    
    <div id="gg-header-wrapper">

	<div id="flash">
	  <script language="javascript">
        if (AC_FL_RunContent == 0) {
            alert("This page requires AC_RunActiveContent.js.");
        } else {
            AC_FL_RunContent(
                'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
                'width', '550',
                'height', '400',
                'src', 'fileadmin/templates/swf/hi-five',
                'quality', 'high',
                'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
                'align', 'middle',
                'play', 'true',
                'loop', 'true',
                'scale', 'showall',
                'wmode', 'transparent',
                'devicefont', 'false',
                'id', 'hi-five',
                'bgcolor', '#ff0000',
                'name', 'swf/hi-five',
                'menu', 'true',
                'allowFullScreen', 'false',
                'allowScriptAccess','sameDomain',
                'movie', 'fileadmin/templates/swf/hi-five',
                'salign', ''
                ); //end AC code
        }
      </script>
    </div>

    <div id="contact-btn">
      <a target="_blank" href="https://twitter.com/#!/youngseagulls"><img src="img/home/home-twitter.png" /></a>
      <a target="_blank" href="http://www.facebook.com/pages/Young-Seagulls/153490361347189"><img src="img/home/home-facebook.png" /></a>
      <a target="_blank" href="mailto:youngseagulls@bhafc.co.uk"><img src="img/home/home-email.png" /></a>
    </div>

      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>

      <div id="gg-top-login"></div>

      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>

      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->

    </div> <!-- /#gg-header-wrapper -->

    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
<div id="gulls">
<div class="seagull01"></div>
<div class="seagull02"></div>
<div class="seagull03"></div>
<div class="seagull04"></div>     
</div>
<!-- About Panel -->
<div class="grid_2 position-fix">
    <div id="gg-about-panel">
        <div id="gg-about-panel-top"><h2 class="spacer">Etiam volutpat fringilla eleifend magna sit amet egestas hendrerit</h2></div>
            <div class="content">
            <h3><a href="#">Lorem Ipsum Dolor</a></h3>
            <p>Maecenas at velit nibh. Etiam volutpat fringilla eleifend. Maecenas dictum, magna sit amet egestas hendrerit, lacus massa commodo libero, ac eleifend nisi tellus in turpis. Maecenas at velit nibh. Etiam volutpat fringilla eleifend. </p>
            </div>
            <div id="gg-about-gully"></div>
  	</div>

    <div id="gg-about-panel-bottom">
        <div class="bottom-panel">
        <p>Posted: <strong>30/10/2011</strong></p><a href="http://192.168.1.144/bhafc/gullys-blog/" class="button">Read More</a>
        </div>
    </div>
</div>
<!-- / About Panel -->

<!-- Team Panel -->
<div class="grid_1">
    <div id="gg-team-panel">
        <div id="gg-team-panel-top"><h2 class="spacer">Get to know the team</h2></div>
            <div class="content">

            <div class="cards"></div>

                <div class="bottom-panel-bg">
                    <div class="bottom-panel">
                    <p class="player"><strong>New Players!</strong></p><a href="#" class="button">Read More</a>
                    </div>
                </div>
            </div>
     </div>
</div>
<!-- /Team Panel -->

<!-- Events Panel -->
<div class="grid_1">
    <div id="gg-events-panel">
        <div id="gg-events-panel-top"><h2 class="spacer">Events!</h2></div>
            <div class="content">

            <div class="cards"></div>

                <div class="bottom-panel-bg">
                    <div class="bottom-panel">
                    <p class="events"><strong>New Events!</strong></p><a href="#" class="button">Read More</a>
                    </div>
                </div>
            </div>
     </div>
</div>
<!-- /Events Panel -->

<div class="clearer"></div>


<!-- News Panel -->
<div class="grid_2">
    <div id="gg-news-panel">
    <div id="gg-news-panel-top"><h2 class="spacer">The Latest news<br />
		from <strong>Gully's Gang</strong></h2></div>
        <div class="content">
            <img src="img/home/news-placeholder.jpg" alt="News" class="right" />
            <h3><a href="#">Lorem Ipsum Dolor</a></h3>
            <p>Maecenas at velit nibh. Etiam volutpat fringilla eleifend. Maecenas dictum, magna sit amet egestas hendrerit, lacus massa commodo libero. </p>
            </div>
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p>Posted: <strong>26/10/2009</strong></p><a href="#" class="button">Profile Page</a>
        </div>
        </div>
    </div>
</div>
<!-- /News Panel -->



<!-- Score Panel -->
<div class="grid_1" >
    <div id="gg-scores-panel">
            <div id="gg-scores-panel-top">
              <h2 class="spacer">The latest <strong>Seagulls</strong> scores</h2>
          </div>
            <div class="content">
    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="odd">
                <td>Norwhich</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Southampton</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Tranmere</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Leeds United</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Another Team</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            </div>
            <div class="bottom-panel-bg">
                <div class="bottom-panel">
                <p class="football"><strong>New Results!</strong></p><a href="#" class="button">Latest Scores</a>
                </div>
            </div>
    </div>
</div>
<!-- /Score Panel -->



<!-- Fan Panel -->
<div class="grid_1">
	<div id="gg-fan-panel">
     <div id="gg-fan-panel-top"><h2 class="spacer">Welcome back<br />
     <strong>Dean Hayden</strong></h2></div>
    <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p><a href="#">Logout</a> <a href="#">Safeonline</a></p><a href="#" class="button">Profile Page</a>
        </div>
    </div>
    </div>
</div>
<!-- /Fan Panel -->


<!-- <div class="clearer"></div> -->

<!-- Cheerleader Panel -->
<div class="grid_1">
	<div id="gg-cheerleaders-panel">
     <div id="gg-cheerleaders-panel-top"><h2 class="spacer">All the girl gossip</h2></div>
    <div class="cheerleaders-photo"></div>
    <div class="bottom-panel-bg">

        <div class="bottom-panel">
        <p class="football"><strong>In Practise</strong></p><a href="#" class="button">Read More</a>
        </div>
    </div>
    </div>
</div>
<!-- /Cheerleader Panel -->


<!-- Travel Panel -->
<div class="grid_1">
	<div id="gg-travel-panel">
     <div id="gg-travel-panel-top"><h2 class="spacer">All the girl gossip</h2></div>
 
    <div class="bottom-panel-bg">
    
        <div class="bottom-panel">
        <p class="football"><strong>In Practise</strong></p><a href="#" class="button">Read More</a>
        </div>
    </div>
    </div>
</div>
<!-- /Travel Panel -->


<!-- Stadium Panel -->
<div class="grid_2">
	<div id="gg-stadium-panel">
     <div id="gg-stadium-panel-top"><h2 class="spacer">All about our <strong>new home</strong></h2></div>
  			<ul id="smallsecondary"> <!-- /ul#secondary -->
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li> 
                <li><a href="#">News</a></li>
                <li><a href="#">Webcam</a></li>
            </ul>

    <div class="bottom-panel-bg">

        <div class="bottom-panel">
        <p class="stadium"><strong>New Pics!</strong></p><a href="#" class="button">Read More</a>
        </div>
    </div>
    </div>
</div>
<!-- /Stadium Panel -->

<div class="clearer"></div>

<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      

      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->

    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>

      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy & Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>

      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->

  </div> <!-- /.container -->

  <div class="clearer"></div>

  <a id="sponsored-by" href="http://www.teenagecancertrust.org/" target="_blank">
  	<img src="img/global/tct.png" alt="Teenage Cancer Trust" />
  </a>
</body>
</html>