<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang | Team Stripes</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/home.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/hub.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>

  <div class="container container_4 hub" id="home">
  
<div div id="hub-top">
<div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> 
  <!-- /#gg-ticker-wrapper -->
<a href="#" id="gg-hub" class="iefix">Gully's Gang</a>
<a href="#" id="ts-hub" class="iefix">Team Stripes</a>
<p class="hub-panel">Official <strong>Brighton &amp; Hove Albion</strong> Websites</p>
</div>



     <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    
    
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      

<!-- GG Panel -->
<div class="grid_2">
    <div id="gg-intro-panel">
    <a href="#"><div id="gg-intro-panel-top" class="iefix"><h2>Take me to the amazing<br />
		<strong>Gully's Gang Site</strong></h2></div></a>
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <a href="#" class="button">Login</a>
        <a href="#" class="button">Join the Gang</a>
        </div>
        </div>
    </div>
</div>
<!-- /News Panel -->

<!-- GG Panel -->
<div class="grid_2">
    <div id="ts-intro-panel">
    <a href="#"><div id="ts-intro-panel-top" class="iefix"><h2>Take me to the cool<br />
		<strong>Team Stripes Site</strong></h2></div></a>
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <a href="#" class="button">Login</a>
        <a href="#" class="button">Join the Gang</a>
        </div>
        </div>
    </div>
</div>
<!-- /News Panel -->

<div class="clearer"></div>



<div class="grid_2">
<div id="gg-intro-small-top"></div> <!-- #gg-intro-top -->
    <div id="gg-intro-small-bg"> <!-- #gg-intro-top -->
    <h1>All About Gully</h1>
    <p>Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.</p>
<p>Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.</p>
    </div> 
</div>

<div class="grid_2">
<div id="ts-intro-small-top"></div> <!-- #ts-intro-top -->
    <div id="ts-intro-small-bg"> <!-- #ts-intro-top -->
    <h1>All About Team Stripes</h1>
    <p>Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.</p>
<p>Sit amet, consectetur a adipiscing elite ivamus eleifnd, magna porta the as the eleifeninterdum, dui mauris viverra asn euismod quam nunc id nibh the why a The Seagulls ellentesque tbe tellus.</p>
    </div> 
</div>

<div class="clearer"></div>

<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy & Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
</body>
</html>
