<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/meettheteam.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>

  <div class="container container_4 hub" id="meettheteam">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#" class="on">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
<div id="gulls">
<div class="seagull01"></div>
<div class="seagull02"></div>
<div class="seagull03"></div>
<div class="seagull04"></div>     
</div>
<!-- Left Column -->
<div class="grid_2">
	<!-- gg-team-players-bg -->
	<div id="gg-team-players-bg">
	<div id="gg-team-players-top"><h2 class="spacer">Say a big 'hello' to the <strong>Seagulls</strong></h2></div>


        <!-- gg-team-players-cards -->
        <div id="gg-team-players-cards">
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="collected">Collected</p></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="collected">Collected</p></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="collected">Collected</p></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="collected">Collected</p></div>
            <div class="player-card"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="collected">Collected</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
            <div class="player-card opacity60"><a href="#"><img src="img/global/placeholder.png" alt="" width="63" height="51" /></a><p class="soon">Coming Soon</p></div>
        </div><!-- /gg-team-players-cards -->

        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="player"><strong>New Players!</strong></p><a href="#" class="button">Instructions</a>
            </div>
        </div>


	</div><!-- /gg-team-players-bg -->
    <!-- gg-team-promotion-bg -->
	<div id="gg-team-promotion-bg">




	</div><!-- /gg-team-promotion-bg -->
</div><!-- /Left Column -->






<!-- Right Column -->
<div class="grid_2">
	<!-- gg-team-info-bg -->
	<div id="gg-team-info-bg">
	<div id="gg-team-info-title"><a href="#" class="button">Collect</a><a href="#" class="button">Share</a><a href="#" class="button">Rate</a><div class="mainrating"><p><strong>Rating:</strong></p><a href="#" class="bigrating-off">1 Star</a><a href="#" class="bigrating">2 Stars</a><a href="#" class="bigrating">3 Stars</a></div></div>


        <!-- gg-team-info-imgvideo -->
        <div id="gg-team-info-imgvideo"><img src="img/global/placeholder.png" alt="Placeholder" width="446" height="290" /></div><!-- /gg-team-info-imgvideo -->

		<!-- gg-team-info-stats --> 
		<div id="gg-team-info-stats">
        
        <!-- gg-team-info-thumbs -->
        <div id="gg-team-info-thumbs">
        <a href="#" class="leftarrow">Left</a>
				<a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
           
        <a href="#" class="rightarrow">Right</a>
        </div>
       
        <!-- /gg-team-info-thumbs -->      
        
        <div id="gg-team-info">
        	<h2>Lorem Ipsum Dolor</h1>
        	<h3><img src="img/meettheteam/star.png" alt="Star" />Position<img src="img/meettheteam/star.png" alt="Star" /></h3>
        	<p>Quisque mollis, felis ac convallis mattis, urna velit venenatis orci, eget bibendum lectus risus non leo. Ut luctus sollicitudin felis vitae ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet, justo in tempor rhoncus, nisl sapien accumsan libero.</p>
        </div>
        
        
        
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="football"><strong>New Images!</strong></p><a href="#" class="button">Email</a>            </div>
        </div>
        </div>
		<!-- /gg-team-info-stats --> 

	</div><!-- /gg-team-info-bg -->






</div><!-- /Right Column -->


 		
<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy & Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
  
  <div id="flash"></div>
  
</body>
</html>
