<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/registration.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->



</head>

<body>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
    
    
    <!-- Side Panels -->
    <div class="grid_1"> <!-- /ul#secondary -->      
        <ul id="secondary">
            <li><a href="#">Parties</a></li>
            <li><a href="#">Schools</a></li> 
            <li><a href="#">Join</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <div id="gg-tweet-box"><!-- #gg-tweet-box -->
        	<div class="tweet">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing facilisis auctor id <a href="#">sit amet ipsum</a></p>        
			</div>
            <ul>
                <li><a href="#" class="rss">RSS</a></li>
                <li><a href="#" class="twitter">Twitter</a></li>
                <li><a href="#" class="facebook">Facebook</a></li>
                <li class="safe"><a href="#">Safeonline Guide</a></li>
            </ul>
        </div><!-- /#gg-tweet-box -->

    
    </div> 
	<!-- /Side Panels -->
  
  
    
<div class="grid_3">

<!-- INTRO/////////////////////////////////////////////////// -->    
    <div id="gg-intro-top"></div> <!-- #gg-intro-top -->
    <div id="gg-intro-bg"> <!-- #gg-intro-top -->
    <h1 id="gg-parties-title">Join the Gang</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, a sed do eiusmod tempor incididunt ut labore et dolore magna the a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.There is alaboris nisi ut aliquip ex ea commodo there a conequat Albion aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div> <!-- /#gg-intro-top -->

<!-- BLOG/////////////////////////////////////////////////// --> 
    <div id="gg-common-top"></div> <!-- /#gg-common-top -->
    <div id="gg-common-middle" class="entry">

<form method="post" action="" id="gg-reg-form">
  
  <div class="gg-form-row blue">
    <p class="left">First name:</p>
    <input type="text" name="gg-reg-fname" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Last name:</p>
    <input type="text" name="gg-reg-lname" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Date of birth:</p>
    <select name="gg-reg-dob-day" class="gg-select left">
      <option>Day</option>
    </select>
    
    <select name="gg-reg-dob-month" class="gg-select left">
      <option>Month</option>
    </select>
    
    <select name="gg-reg-dob-year" class="gg-select left">
      <option>Year</option>
    </select>
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Gender:</p>
    <div class="left">
      <div class="gg-reg-radio-check"><input type="radio" name="gg-reg-gender" value="M" class="gg-radio-button" checked="checked" /> Boy</div>
	  <div class="gg-reg-radio-check"><input type="radio" name="gg-reg-gender" value="F" class="gg-radio-button" /> Girl</div>
    </div>
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Email:</p>
    <input type="text" name="gg-reg-email" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Address line 1:</p>
    <input type="text" name="gg-reg-add1" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Address line 2:</p>
    <input type="text" name="gg-reg-add2" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Address line 3:</p>
    <input type="text" name="gg-reg-add3" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Town:</p>
    <input type="text" name="gg-reg-town" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">County:</p>
    <input type="text" name="gg-reg-county" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Postcode:</p>
    <input type="text" name="gg-reg-pcode" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Home phone:</p>
    <input type="text" name="gg-reg-home-phone" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Daytime phone:</p>
    <input type="text" name="gg-reg-daytime-phone" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Your school:</p>
    <input type="text" name="gg-reg-school" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Name of parent/guardian:</p>
    <input type="text" name="gg-reg-parent" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Do you play for either of the following?:</p>
    <div class="left">
      <div class="gg-reg-radio-check"><input type="checkbox" name="gg-reg-team" value="SundayTeam" class="gg-checkbox" /> Seagulls Club FC Sunday Team</div>
	  <div class="gg-reg-radio-check"><input type="checkbox" name="gg-reg-team" value="SeagullsSpecials" class="gg-checkbox" /> Seagulls Specials</div>
    </div>
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Are you a season ticket holder? If so please indicate stand/block/row/seat:</p>
    <input type="text" name="gg-reg-stand" class="gg-reg-text-input-small left" value="Stand" onclick="if (this.value == 'Stand') { this.value='' }" onfocus="if (this.value == 'Stand') { this.value='' }" />
    <input type="text" name="gg-reg-block" class="gg-reg-text-input-small left" value="Block" onclick="if (this.value == 'Block') { this.value='' }" onfocus="if (this.value == 'Block') { this.value='' }" />
    <input type="text" name="gg-reg-row" class="gg-reg-text-input-small left" value="Row" onclick="if (this.value == 'Row') { this.value='' }" onfocus="if (this.value == 'Row') { this.value='' }" />
    <input type="text" name="gg-reg-seat" class="gg-reg-text-input-small left" value="Seat" onclick="if (this.value == 'Seat') { this.value='' }" onfocus="if (this.value == 'Seat') { this.value='' }" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Who is your favourite Albion player?:</p>
    <input type="text" name="gg-reg-fav-player" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row blue">
    <p class="left">Enter the password you would like to use when logging into Gully's Gang:</p>
    <input type="text" name="gg-reg-fav-password" class="gg-reg-text-input left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <p class="left">Tick this box if you don't want to receive other Albion material:</p>
    <input type="checkbox" name="gg-reg-additional" value="1" class="gg-checkbox left" />
    <div class="clearer"></div>
  </div>
  
  <div class="gg-form-row">
    <input type="hidden" name="gg-form-sent" value="1" />
    <input type="submit" value="Send" class="right" />
  </div>
</form>













        
    <div class="clearer"></div>
    </div> <!-- /#gg-common-niddle -->
    <div id="gg-common-bottom">
          
    </div> <!-- /#gg-common-bottom -->

</div> 


			





<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
</body>
</html>
