<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/skills.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->

</head>

<body>

  <div class="container container_4 hub" id="skills">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#" class="on">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
 		<div id="gg-skills-container">
        
        <div class="grid_1">      
            <ul id="secondary"> <!-- /ul#secondary -->
                <li><a href="#">1 Star</a></li>
                <li><a href="#">2 Star</a></li> 
                <li><a href="#">3 Star</a></li>
                <li><a href="#">Cheerleaders</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Join Now</a></li>
            </ul>
        </div>  
   
      <div id="gg-skills-bg"> <!-- /#gg-skills-bg --> 
        <h1>Skills</h1>
        
        <!-- gg-skills-video-panel -->
        <div id="gg-skills-video-panel">
        
            <!-- gg-skills-video-info -->
            <div id="gg-skills-video-info">
            <h2 class="start">Start</h2>
            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis lacus id metus vulputate rhoncus. Duis auctor, turpis eu condimentum volutpat, lacus eros venenatis risus, quis lacinia purus turpis eget lacus.</p>
            <div class="mainrating"><p><strong>Video Rating:</strong></p><a href="#" class="bigrating-off">1 Star</a><a href="#" class="bigrating">2 Stars</a><a href="#" class="bigrating">3 Stars</a></div>
            </div>
            <!-- /gg-skills-video-info -->
        
        <!-- gg-skills-video-info -->
        <div id="gg-skills-video"><img src="img/global/placeholder.png" alt="Placeholder" width="370" height="240" /></div>
        <!-- /gg-skills-video-info -->
 
        </div>
        <!-- /gg-skills-video-panel -->
        
        
        
        <!-- gg-skills-videos -->
        <div id="gg-skills-videos">
        <a href="#" class="leftarrow">Left</a>
        <!-- gg-skills-thumbs -->
            <div id="gg-video-thumbs-container">
                <div class="video-thumbs">
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="174" height="100" /></a>
                <div class="video-thumb-info"><p class="number">4</p><p class="rating">Rating </p><span class="smallrating1">1 star</span></div>
                <p class="link"><a href="#">Lorem Ipsum</a></p>
                </div>
                
                <div class="video-thumbs">
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="174" height="100" /></a>
                <div class="video-thumb-info"><p class="number">4</p><p class="rating">Rating </p><span class="smallrating2">2 star</span></div>
                <p class="link"><a href="#">Lorem Ipsum</a></p>
                </div>
        
        
                <div class="video-thumbs">
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="174" height="100" /></a>
                <div class="video-thumb-info"><p class="number">4</p><p class="rating">Rating </p><span class="smallrating1">1 star</span></div>
                <p class="link"><a href="#">Lorem Ipsum</a></p>
                </div>
                
                <div class="video-thumbs">
                <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="174" height="100" /></a>
                <div class="video-thumb-info"><p class="number">4</p><p class="rating">Rating </p><span class="smallrating3">3 star</span></div>
                <p class="link"><a href="#">Lorem Ipsum</a></p>
                </div>
            </div>
        <!-- /gg-skills-thumbs -->
        <a href="#" class="rightarrow">Right</a>
        </div>
      </div>
      <!-- /gg-skills-videos -->      

</div>

<div class="clearer"></div>

<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy & Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
  
  <div id="flash"></div>
  
  <a id="sponsored-by" href="http://www.teenagecancertrust.org/" target="_blank">
  	<img src="img/global/tct.png" alt="Teenage Cancer Trust" />
  </a> 
  
</body>
</html>
