<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/stadium.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->
</head>

<body>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      


<!-- gg-stadium-gallery -->
<div class="grid_2">
    <div id="gg-stadium-gallery-big">
    <div id="gg-stadium-gallery-top"><h2 class="spacer">Everything you need to<br />know about <strong>The Amex!</strong></h2></div>
        <!-- gg-stadium-gallery-container -->
        <div id="gg-stadium-gallery-container">
        <div id="gg-stadium-gallery-big-img"><img src="img/global/placeholder.png" alt="Placeholder" width="367" height="295" /></div>
      <div class="content">
      <h2 class="imgtitle">Image Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus, orci quis commodo placerat, tellus enim iaculis ante, vitae tincidunt justo lacus in purus. Aenean ornare massa justo. Nullam quis turpis dui, quis varius elit. Proin tincidunt est in nisl laoreet interdum.</p>
      </div>
            <!-- gg-drawing-img -->
            <!-- /gg-drawing-img -->

            <!-- gg-stadium-gallery-thumbs -->
            <div id="gg-stadium-gallery-thumbs">
            <a href="#" class="leftarrow">Left</a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
                    <a href="#"><img src="img/global/placeholder.png" alt="Placeholder" width="65" height="49" /></a>
            <a href="#" class="rightarrow">Right</a>            </div>
            <!-- /gg-stadium-gallery-thumbs -->      
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p class="football">Update: 27/1/2010</p></div>
        </div>
        </div>
        </div>
</div>        
<!-- /gg-stadium-gallery-container -->


<!-- Downloads Panel -->
	<div class="grid_1">
        <div id="gg-downloads-panel">
         <div id="gg-downloads-panel-top"></div><div id="gg-downloads-gully"></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p>Super Downloads</p><a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Downloads Panel -->

<!-- Education Panel -->
	<div class="grid_1">
        <div id="gg-education-panel">
         <div id="gg-education-panel-top"></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p>How we did it</p><a href="#" class="button">Learn More</a></div>
        </div>
        </div>
	</div>
<!-- /Education Panel -->

<!-- News Panel -->
<div class="grid_2">
    <div id="gg-news-panel">
    <div id="gg-news-panel-top"><h2 class="spacer">The Latest news<br />
		from <strong>The Stadium</strong></h2></div>
        <div class="content">
            <img src="img/home/news-placeholder.jpg" alt="News" class="right" />
            <h3><a href="#">Lorem Ipsum Dolor</a></h3>
            <p>Maecenas at velit nibh. Etiam volutpat fringilla eleifend. Maecenas dictum, magna sit amet egestas hendrerit, lacus massa commodo libero. </p>
            </div>
        <div class="bottom-panel-bg">
        <div class="bottom-panel">
        <p>Posted: <strong>26/10/2009</strong></p><a href="#" class="button">Profile Page</a>
        </div>
        </div>
    </div>
</div>
<!-- /News Panel -->

<!-- Webcam Panel -->
	<div class="grid_1">
        <div id="gg-webcam-panel" class="bump">
         <div id="gg-webcam-panel-top"><h2 class="spacer">Stadium<br />webcam</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p></p><a href="#" class="button">Show Me</a></div>
        </div>
        </div>
	</div>
<!-- /Webcam Panel -->

<!-- Games Panel -->
	<div class="grid_1">
        <div id="gg-gameon-panel" class="bump">
         <div id="gg-gameon-panel-top"><h2 class="spacer">Great free games</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="player">Top scorer?</p><a href="#" class="button">Play Now!</a></div>
        </div>
        </div>
	</div>
<!-- /Games Panel -->


<div class="clearer"></div>

<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
  
  <div id="flash"></div>
  
</body>
</html>
