<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
<link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
<link media="screen" href="css/stadium.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->
</head>

<body>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <div id="gg-top-login"></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      


<!-- Stadium Content -->
<div class="grid_2">  
 <div id="gg-stadium-content-panel">
        <div id="gg-stadium-education-panel-top"><h2 class="spacer">Etiam volutpat fringilla eleifend magna sit amet egestas hendrerit</h2></div>
            <div class="content">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eros nisl, placerat ut pulvinar et, tempus eu turpis. Praesent facilisis, mauris a sodales condimentum, augue quam imperdiet lorem, vitae laoreet tellus odio rutrum nibh. Proin ut pulvinar nibh. Nulla sed risus ut massa tempus vestibulum in ac libero. Suspendisse accumsan sem non sem tincidunt ullamcorper. Duis libero mi, ultricies sit amet convallis non, accumsan sed enim. Phasellus et lobortis arcu.</p> 
            
            <p>Phasellus accumsan rhoncus sodales. Integer bibendum bibendum turpis eget tristique. Aliquam elementum, lorem sit amet ullamcorper fringilla, lorem enim iaculis massa, vitae rhoncus lacus nisl ut felis. Sed sapien turpis, egestas sed laoreet sit amet, ultricies id ipsum. Cras adipiscing placerat velit, ut accumsan nisl commodo in. Sed bibendum eros pulvinar nunc ornare hendrerit. Nullam malesuada lorem nec nisi vestibulum a posuere enim facilisis. Vivamus metus mi, volutpat at tristique id, gravida sit amet mauris. Mauris in nisi ante. Suspendisse sed mauris sapien, nec tincidunt est. Donec vitae dolor sapien, blandit ullamcorper est. Nam blandit pellentesque mi et dapibus. Cras vitae ante felis.</p>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse in neque vitae lectus ornare facilisis vel ac metus. Nulla a turpis vitae enim vehicula tincidunt at dapibus mi. Suspendisse ac libero libero, vitae dictum nisi. Mauris rhoncus rutrum nunc a congue. Nam consequat fermentum nulla, ut auctor dui hendrerit in. Cras interdum consequat metus sit amet aliquam. Morbi eleifend rhoncus semper. Aenean consectetur erat id est volutpat ac mollis lectus vehicula. Nulla velit erat, condimentum ut faucibus vitae, egestas non ligula. Ut dolor arcu, dignissim nec sodales sed, vestibulum malesuada erat. Praesent ullamcorper venenatis felis, quis convallis augue ullamcorper eget. Suspendisse mattis sollicitudin arcu, non pretium lectus viverra vitae. Nulla eget felis non purus tincidunt dictum interdum vitae lorem.</p>
            </div>
	</div>
	<div id="gg-stadium-content-panel-bottom-no-link"></div>
</div>
<!-- /Stadium Content -->


<!-- Architect Panel -->
	<div class="grid_1">
        <div id="gg-architect-panel">
         <div id="gg-architect-panel-top"><h2 class="spacer">Architect<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Architect Panel -->

<!-- Surveyor Panel -->
	<div class="grid_1">
        <div id="gg-surveyor-panel">
         <div id="gg-surveyor-panel-top"><h2 class="spacer">Surveyor<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Surveyor Panel -->

<!-- Builder Panel -->
	<div class="grid_1">
        <div id="gg-builder-panel">
         <div id="gg-builder-panel-top"><h2 class="spacer">Builder<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Builder Panel -->

<!-- Digger Panel -->
	<div class="grid_1">
        <div id="gg-digger-panel">
         <div id="gg-digger-panel-top"><h2 class="spacer">Digger Driver<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Digger Panel -->

<!-- Safety Office Panel -->
	<div class="grid_1">
        <div id="gg-safetyofficer-panel">
         <div id="gg-safetyofficer-panel-top"><h2 class="spacer">Safety Officer<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Safety Office Panel -->

<!-- Electrician Panel -->
	<div class="grid_1">
        <div id="gg-electrician-panel">
         <div id="gg-electrician-panel-top"><h2 class="spacer">Electrician<br/>Downloads</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <a href="#" class="button">More</a></div>
        </div>
        </div>
	</div>
<!-- /Electrician Panel -->


<div class="clearer"></div>

<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
</body>
</html>
