<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Brighton &amp; Hove Albion Football Club | Gully&#8217;s Gang</title>
  <link media="screen" href="css/layout.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="css/gg-layout.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="css/side-panels.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="css/the-score.css" type="text/css" rel="stylesheet" />
  <!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" media="screen"><![endif]-->
  
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.galleriffic.js"></script>
  <script type="text/javascript" src="js/jquery.opacityrollover.js"></script>
  <script type="text/javascript" src="js/jquery.history.js"></script>
  <script type="text/javascript" src="js/thescore.js"></script>

</head>

<body>

  <div class="container container_4 hub">
    
    <div id="gg-header-wrapper">
      
      <div id="gg-logo"><a href="#">Welcome to Gully's Gang</a></div>
      
      <ul id="gg-global-nav">
        <li id="gg-global-nav-fun-stuff"><a href="#">Fun Stuff</a></li>
        <li id="gg-global-nav-game-on"><a href="#">Game On</a></li>
        <li id="gg-global-nav-fan-zone"><a href="#">Fan Zone</a></li>
        <li id="gg-global-nav-skills"><a href="#">Skills</a></li>
        <li id="gg-global-nav-the-score"><a href="#">The Score</a></li>
        <li id="gg-global-nav-news"><a href="#">News</a></li>
        <li id="gg-global-nav-meet-the-team"><a href="#">Meet the Team</a></li>
        <li id="gg-global-nav-stadium"><a href="#">Stadium</a></li>
      </ul>
      <div class="clearer"></div>
      
      <div id="gg-ticker-wrapper"><span><a href="#">Pretiumy sapien convallig vel habitasse qlatea</a></span></div> <!-- /#gg-ticker-wrapper -->
      
    </div> <!-- /#gg-header-wrapper -->
    
    <div id="gg-content-wrapper">
      <div id="gg-content-top"></div> <!-- /#gg-content-top -->
      <div id="gg-content-middle">
<!-- //////////////////////////////////////////START/CONTENT/HERE/////////////////////////////////////////////////// -->      
    
   
   
<div class="grid_4">
<div id="gg-bigcommon-top"></div> <!-- /#gg-common-top -->
    <div id="gg-bigcommon-middle">
    <h1 id="gg-thescore-title">The Score</h1>

	<div id="gg-match-info">
	<h2 class="nomargin">Brighton 4-1 Leeds United</h2>
    <p class="matchinfo"><strong>Sat 19th Dec. 15:00</strong> Withdean Stadium </p>
    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue lacus, dignissim auctor tempor vel, feugiat sit amet enim. Pellentesque dignissim enim eget.</strong></p> 
    <p>Ipsum venenatis vel tincidunt odio ultrices. Fusce nec eros risus, at fermentum tellus. Mauris ullamcorper metus nec ipsum ornare a mattis massa mollis. Aenean faucibus interdum tempor. Nam in arcu ut dui dignissim placerat eget et nisl. Nam lectus metus, imperdiet a vulputate sed, rhoncus ac ligula. Aliquam a orci justo, ut rhoncus tellus. Aliquam vehicula pharetra ligula et egestas.</p>
    <a href="#" class="button">Full Report</a>
    <div class="clearer"></div>
    </div>
    




































<div id="gg-score-media">

				<!-- Start Advanced Gallery Html Containers -->				
				<div class="navigation-container">
					<div id="thumbs" class="navigation">
						<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
					
						<ul class="thumbs noscript">
                        
							<li>
								<a class="thumb" name="1" href="img/footy/1.jpg" title="Title #1">
									<img width="65" height="49" alt="Placeholder" src="img/footy/1.jpg" alt="1" />
								</a>
								<div class="caption">
									<div class="image-title">Title #1</div>
									<div class="image-desc">Description 1</div>
								</div>
							</li>
                            
                            <li>
								<a class="thumb" name="2" href="img/footy/2.jpg" title="Title #2">
									<img width="65" height="49" alt="Placeholder" src="img/footy/2.jpg" alt="2" />
								</a>
								<div class="caption">
									<div class="image-title">Title #1</div>
									<div class="image-desc">Description 1</div>
								</div>
							</li>
                            
                            <li>
								<a class="thumb" name="3" href="img/footy/3.jpg" title="Title #3">
									<img width="65" height="49" alt="Placeholder" src="img/footy/3.jpg" alt="3" />
								</a>
								<div class="caption">
									<div class="image-title">Title #3</div>
									<div class="image-desc">Description 3</div>
								</div>
							</li>
                            
                            <li>
								<a class="thumb" name="4" href="img/footy/4.jpg" title="Title #4">
									<img width="65" height="49" alt="Placeholder" src="img/footy/4.jpg" alt="4" />
								</a>
								<div class="caption">
									<div class="image-title">Title #4</div>
									<div class="image-desc">Description 4</div>
								</div>
							</li>
                            
                            <li>
								<a class="thumb" name="5" href="img/footy/5.jpg" title="Title #5">
									<img width="65" height="49" alt="Placeholder" src="img/footy/5.jpg" alt="5" />
								</a>
								<div class="caption">
									<div class="image-title">Title #5</div>
									<div class="image-desc">Description 5</div>
								</div>
							</li>
                            
                            <li>
								<a class="thumb" name="6" href="img/footy/6.jpg" title="Title #6">
									<img width="65" height="49" alt="Placeholder" src="img/footy/6.jpg" alt="6" />
								</a>
								<div class="caption">
									<div class="image-title">Title #6</div>
									<div class="image-desc">Description 6</div>
								</div>
							</li>
                            
	
						</ul>
						<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
					</div>
				</div>
				<div class="content">
					<div class="slideshow-container">
						<div id="controls" class="controls"></div>
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container">
						<div class="photo-index"></div>
					</div>
				</div>
				<!-- End Gallery Html Containers -->
				<div style="clear: both;"></div>

</div>








































	<div class="clearer"></div>
    
    </div> <!-- /#gg-common-niddle -->
    <div id="gg-bigcommon-bottom"></div> <!-- /#gg-common-bottom -->
</div>   
<div class="clearer"></div>   
   
   
<div class="grid_1">
<!-- Score Panel -->
    <div id="gg-scores-panel">
            <div id="gg-scores-panel-top">
              <h2 class="spacer">Previous match scores</h2>
          </div>
            <div class="content">
    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="odd">
                <td>Norwhich</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Southampton</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Tranmere</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Leeds United</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="odd">
                <td>Another Team</td>
                <td>4 - 2</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            </div>
            <div class="bottom-panel-bg">
                <div class="bottom-panel">
                <p class="football"><strong>New Results!</strong></p>
                </div>
            </div>
    </div>
<!-- /Score Panel -->
</div>    

<div class="grid_1">
<!-- Next Match Panel -->
        <div id="gg-nextmatch-panel">
         <div id="gg-nextmatch-panel-top"><h2 class="spacer">The next <strong>amazing</strong> game</h2></div>
            <div class="info">
            <p class="tie">Swindon vs Brighton</p>
            <p class="date">Sat 19th Dec. 15:00</p>
            <p>Swindon County Ground</p>
            </div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p></p><a href="#" class="button">More info</a></div>
        </div>
        </div>
<!-- /Next Match Panel -->
</div>    

<div class="grid_1">
<!-- Games Panel -->
        <div id="gg-gameon-panel">
         <div id="gg-gameon-panel-top"><h2 class="spacer">Great free games</h2></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p class="player">Top scorer?</p><a href="#" class="button">Play Now!</a></div>
        </div>
        </div>
<!-- /Games Panel -->
</div>    

<div class="grid_1">
<!-- Skills Panel -->
        <div id="gg-skills-panel">
         <div id="gg-skills-panel-top"></div>
         <div class="boy"></div>
        <div class="bottom-panel-bg">
            <div class="bottom-panel">
            <p>Learn from the pros</p><a href="#" class="button">Lets do it...</a></div>
        </div>
        </div>
<!-- /Skills Panel -->
</div>    
   
   
   

<div class="clearer"></div>
<!-- //////////////////////////////////////////END/OF/CONTENT//////////////////////////////////////////////////// -->      
      
      </div> <!-- /#gg-middle-top -->
      <div id="gg-content-bottom"></div> <!-- /#gg-content-bottom -->
    </div> <!-- /#gg-content-wrapper -->
    
    <div id="gg-footer-wrapper">
      <ul id="gg-footer-nav-left">
        <li id="gg-join-gang"><a href="#">Joing the Gang</a></li>
        <li id="gg-login"><a href="#">Login</a></li>
      </ul>
      
      <ul id="gg-footer-nav-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Safeonline</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Privacy &amp; Cookies</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Parents Stuff</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">&copy; 2009 Brighton & Hove Albion</a></li>
        <li class="gg-footer-nav-right-blue"><a href="#">Credits</a></li>
      </ul>
      
      <div class="clearer"></div>
    </div> <!-- /#gg-footer-wrapper -->
    
  </div> <!-- /.container -->
</body>
</html>
