#gg-re-register a{
	background-image:url(../img/global/re-registerbtn.png);
	background-position:0px 15px;
	background-repeat:no-repeat;
	display:block;
	height:60px;
	width:152px;
	}
	
#gg-team-stripes a{
	background-image:url(../img/global/ts-logo.png);
	background-position:0px 5px;
	background-repeat:no-repeat;
	display:block;
	height:80px;
	width:180px;
	}


/* Layout
----------------------------------------------------------------------------------------------------------------------------*/
body { background: url(body-bg.gif) 0px 0px repeat; }
.container { background-color: transparent; width: 966px; padding: 70px 0px 0px 0px; }

/* Header
----------------------------------------------------------------------------------------------------------------------------*/
div#gg-header-wrapper { position: relative; width: 100%; height: 121px; background: url(header-bg.png) 0px 0px no-repeat; z-index: 300; }
div#gg-logo a { position: absolute; top: -60px; left: 7px; display: block; width: 226px; height: 0px; padding: 197px 0px 0px 0px; overflow: hidden; text-indent: -9999px; background: url(logo.png) 0px 0px no-repeat; }

/* Global nav
----------------------------------------------------------------------------------------------------------------------------*/
ul#gg-global-nav { position: absolute; top: 1px; left: 220px; z-index: 200; list-style: none; height: 100px; overflow: hidden; padding: 0px; }
ul#gg-global-nav li { float: left; list-style: none; }
ul#gg-global-nav li a { display: block; }
ul#gg-global-nav li#gg-global-nav-fun-stuff a { width: 84px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -219px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-fun-stuff a:hover { background: url(global-nav.png) -219px -100px; }
ul#gg-global-nav li#gg-global-nav-fun-stuff a.on { background: url(global-nav.png) -219px 0px; }
ul#gg-global-nav li#gg-global-nav-game-on a { width: 85px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -303px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-game-on a:hover { background: url(global-nav.png) -303px -100px; }
ul#gg-global-nav li#gg-global-nav-game-on a.on { background: url(global-nav.png) -303px 0px; }
ul#gg-global-nav li#gg-global-nav-fan-zone a { width: 81px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -388px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-fan-zone a:hover { background: url(global-nav.png) -388px -100px; }
ul#gg-global-nav li#gg-global-nav-fan-zone a.on { background: url(global-nav.png) -388px 0px; }
ul#gg-global-nav li#gg-global-nav-skills a { width: 93px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -469px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-skills a:hover { background: url(global-nav.png) -469px -100px; }
ul#gg-global-nav li#gg-global-nav-skills a.on { background: url(global-nav.png) -469px 0px; }
ul#gg-global-nav li#gg-global-nav-the-score a { width: 78px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -562px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-the-score a:hover { background: url(global-nav.png) -562px -100px; }
ul#gg-global-nav li#gg-global-nav-the-score a.on { background: url(global-nav.png) -562px 0px; }
ul#gg-global-nav li#gg-global-nav-news a { width: 86px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -640px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-news a:hover { background: url(global-nav.png) -640px -100px; }
ul#gg-global-nav li#gg-global-nav-news a.on { background: url(global-nav.png) -640px -100px; }
ul#gg-global-nav li#gg-global-nav-meet-the-team a { width: 107px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -726px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-meet-the-team a:hover { background: url(global-nav.png) -726px -100px; }
ul#gg-global-nav li#gg-global-nav-meet-the-team a.on { background: url(global-nav.png) -726px 0px; }
ul#gg-global-nav li#gg-global-nav-stadium a { width: 127px; height: 0px; padding: 100px 0px 0px 0px; background: url(global-nav.png) -833px -200px; overflow: hidden; }
ul#gg-global-nav li#gg-global-nav-stadium a:hover { background: url(global-nav.png) -833px -100px; }
ul#gg-global-nav li#gg-global-nav-stadium a.on { background: url(global-nav.png) -833px 0px; }

/* Secondary Navigation
----------------------------------------------------------------------------------------------------------------------------*/
ul#secondary { float: left; padding: 0px; }
#secondary li content-bottom-bg.png
#secondary li a { width: 207px; height: 18px; display: block; background: url(../img/global/secondary-nav.png) no-repeat; color: #FFF; font-weight: bold; line-height: 100%; text-decoration: none; padding: 8px 10px; }
#secondary li a:hover { background-position: 0px -35px; color: #cef2ff; }
#secondary li.gg-active a { background-position: 0px -70px; color: #cef2ff; padding-left: 20px; width: 197px; }

/* Ticker
----------------------------------------------------------------------------------------------------------------------------*/
div#gg-ticker-wrapper { position: absolute; top: 107px; left: 480px; z-index: 10; width: 491px; height: 54px; background: url(../img/global/ticker-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-ticker-wrapper span { padding: 18px 20px; float: left; font-size: 1.4em; line-height: 100%; /*width: 300px;*/ display: block; }
div#gg-ticker-wrapper span a { color: #003e7f; text-decoration: none; }
div#gg-ticker-wrapper span a:hover { color: #006fb7; }

div#gg-ticker-wrapper marquee { position: absolute; top: 0px; left: 20px; width: 290px; overflow: hidden; }

/* Content
----------------------------------------------------------------------------------------------------------------------------*/
div#gg-content-wrapper { }
div#gg-content-top { width: 964px; height: 17px; background: url(content-top-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-content-middle { width: 954px; min-height: 500px; background: url(content-middle-bg.png) 0px 0px repeat-y; padding: 0 0 0 10px; }
div#gg-content-bottom { width: 964px; height: 37px; background: url(content-bottom-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-common-top { width: 695px; height: 17px; background: url(../img/global/common-top-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-common-middle { width: 655px; background: url(../img/global/common-middle-bg.png) 0px 0px repeat-y; padding: 5px 20px 10px 20px; }
div#gg-common-bottom { width: 695px; height: 17px; background: url(../img/global/common-bottom-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-side-top { width: 225px; height: 17px; background: url(../img/global/side-top-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-side-middle { width: 185px; background: url(../img/global/side-middle-bg.png) 0px 0px repeat-y; padding: 5px 20px 1px 20px; }
div#gg-side-bottom { width: 225px; height: 17px; background: url(../img/global/side-bottom-bg.png) 0px 0px no-repeat; overflow: hidden; }
.position-fix { top: -2px; position: relative; z-index: 1 }
.position-fix1 { top: -1px; position: relative; z-index: 1 }

/* Intro
----------------------------------------------------------------------------------------------------------------------------*/
#gg-intro-top { width: 695px; height: 7px; background: url(../img/global/intro-top.png); margin: 0px; }
#gg-intro-bg { background: url(../img/global/intro-bg.png) center bottom; width: 655px; display: block; padding: 20px; }
#gg-intro-bg h1, #gg-intro-small-bg h1 { font-size: 3em; margin: -10px 0px 10px 0px; position: relative; color: #fff; }
#gg-intro-bg p, #gg-intro-small-bg p { font-size: 1.4em; margin: 0; }
#gg-intro-bg a { color: #fff; font-weight: bold; text-decoration: underline; }
#gg-intro-bg a:hover { text-decoration: none; }
#gg-intro-small-top { width: 460px; height: 7px; background: url(../img/global/intro-small-top.png); margin: 0px; }
#gg-intro-small-bg { background: url(../img/global/intro-small-bg.png) center bottom; width: 420px; display: block; padding: 20px; /*min-height: 300px;*/ }

/* Big Content Panel
----------------------------------------------------------------------------------------------------------------------------*/
div#gg-bigcommon-top { width: 930px; height: 17px; background: url(../img/global/bigcommon-top-bg.png) 0px 0px no-repeat; overflow: hidden; }
div#gg-bigcommon-middle { width: 890px; min-height: 400px; background: url(../img/global/bigcommon-middle-bg.png) 0px 0px repeat-y; padding: 5px 20px 10px 20px; }
div#gg-bigcommon-bottom { width: 930px; height: 17px; background: url(../img/global/bigcommon-bottom-bg.png) 0px 0px no-repeat; overflow: hidden; }

/* Typography 
----------------------------------------------------------------------------------------------------------------------------*/
p, ul, ol { font-size: 1.4em; line-height: 1.4em; margin: 0 0 1.4em 0; color: #333; }
ul, ol { padding: 0 0 0 3em; }
ul li { list-style: disc; }
ol li { list-style: decimal; }
h1, h2, h3, h4 { line-height: 1em; margin: 0.4em 0 0.8em 0; color: #003e7f; text-shadow: 0 -1px 1px rgba(255,255,255,0.25); }
h1 { font-size: 3em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; text-transform: uppercase; }
blockquote { font-weight: bold; width: 33%; float: right; padding: 0 0 0 2em; margin: 0 0 2em 2em; border-left: 2px solid #006fb7 }
blockquote p { margin: 0; color: #006fb7; }
#gg-common-middle p { color: #333; }

/* Buttons
----------------------------------------------------------------------------------------------------------------------------*/
a.button { background: url(../img/global/standard-button.png); width: 81px; height: 11px; display: block; color: #0968b4; text-decoration: none; text-align: center; font-size: 1.2em; line-height: 100%; font-weight: bold; padding: 8px 5px; }
a.button:hover { background-position: 0px -27px; }

/* Common Links
----------------------------------------------------------------------------------------------------------------------------*/
#gg-common-middle a { color: #006fb7; text-decoration: none; }
#gg-common-middle a:hover { text-decoration: none; }

/* Common Elements
----------------------------------------------------------------------------------------------------------------------------*/
img.right { float: right; border: 1px solid #7cdbff; margin: 0 0 10px 10px; }

/* Common Panel Elements
----------------------------------------------------------------------------------------------------------------------------*/
.spacer { background: url(../img/home/title-spacer.png) no-repeat left center; padding: 0 0 0 0.8em; }
.bottom-panel-bg { width: 210px; height: 37px; background: url(../img/home/bottom-panel-bg.png) 0px 0px no-repeat; overflow: hidden; float: left; padding: 0 0 0 8px; z-index: 30; }
.bottom-panel p { line-height: 290%; float: left; }
.bottom-panel p a { color: #FFF; }
.bottom-panel p a:hover { color: #c9eff8; text-decoration: none; }
.left { float: left }
.hub .button { margin: 4px 10px 0 0; float: right; }
.hub h2 { color: #a2e5ff; font-weight: normal; font-size: 1.2em; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.hub h3 { margin-bottom: 10px; }
.hub h3 a { color: #FFF; text-decoration: none; text-shadow: 1px 1px 2px rgba(0,0,0,0.33); }
.hub h3 a:hover { text-decoration: none; color: #c9eff8; }
.hub p { color: #FFF; font-size: 1.2em; }

/* Small Icons
----------------------------------------------------------------------------------------------------------------------------*/
.football { background: url(../img/global/icons-football.png) no-repeat left center; padding: 0 0 0 1.4em; }
.player { background: url(../img/global/icons-player.png) no-repeat left center; padding: 0 0 0 1.4em; }
.stadium { background: url(../img/global/icons-stadium.png) no-repeat left center; padding: 0 0 0 1.4em; }

/* Seagulls
----------------------------------------------------------------------------------------------------------------------------*/
#gulls { position: relative; z-index: 1000; }
.seagull01, .seagull02, .seagull03, .seagull04 { display: block; position: absolute; }
.seagull01 { background: url(../img/global/seagull01.png) no-repeat; width: 38px; height: 35px; }
.seagull02 { background: url(../img/global/seagull02.png) no-repeat; width: 38px; height: 26px; }
.seagull03 { background: url(../img/global/seagull03.png) no-repeat; width: 38px; height: 35px; }
.seagull04 { background: url(../img/global/seagull04.png) no-repeat; width: 44px; height: 40px; }

/* Ratings
----------------------------------------------------------------------------------------------------------------------------*/ 
.smallrating1, .smallrating2, .smallrating3 { width: 28px; height: 0px; display: inline-block; overflow: hidden; padding: 17px 0 0 0; }
.smallrating1 { background: url(../img/global/stars-small01.png) }
.smallrating2 { background: url(../img/global/stars-small02.png) }
.smallrating3 { background: url(../img/global/stars-small03.png) }
.mainrating p { float: left; line-height: 240%; margin: 0 5px 0 0; height: 30px!important; }
.bigrating, .bigrating-off { width: 27px; height: 0px; display: inline-block; overflow: hidden; padding: 29px 0 0 0; }
.bigrating { background: url(../img/global/stars-big.png) }
.bigrating-off { background: url(../img/global/stars-off-big.png) }

/* Arrows 
----------------------------------------------------------------------------------------------------------------------------*/ 
.leftarrow { background: url(../img/global/arrows-left.png) no-repeat; width: 55px; height: 0px; padding: 54px 0 0 0; overflow: hidden; display: block; float: left; }
.leftarrow:hover, .rightarrow:hover { background-position: 0px -54px; }
.rightarrow { background: url(../img/global/arrows-right.png) no-repeat; width: 55px; height: 0px; padding: 54px 0 0 0; overflow: hidden; display: block; float: right; }

/* Small Secondary Navigation
----------------------------------------------------------------------------------------------------------------------------*/
ul#smallsecondary { float: left; padding: 0px; width: 81px; }
#smallsecondary li { list-style: none; display: block; float: left; margin-bottom: 1px; }
#smallsecondary li a { background: url(../img/global/standard-button.png); width: 81px; height: 11px; display: block; color: #0968b4; text-decoration: none; text-align: center; line-height: 100%; font-weight: bold; padding: 8px 5px; font-size: 0.9em!important; }
#smallsecondary li a:hover { background-position: 0px -27px; }

/* Footer
----------------------------------------------------------------------------------------------------------------------------*/
div#gg-footer-wrapper { position: relative; width: 964px; height: 63px; padding: 0px 0px 20px 0px; background: url(footer-bg.png) 0px 0px no-repeat; }
ul#gg-footer-nav-left { position: absolute; z-index: 10; width: 257px; height: 60px; padding: 0px; }
ul#gg-footer-nav-left  li { float: left; list-style: none; }
ul#gg-footer-nav-left  li a { text-indent: -9999px; }
ul#gg-footer-nav-left li#gg-join-gang {  }
ul#gg-footer-nav-left li#gg-join-gang a { display: block; width: 123px; height: 60px; background: url(../img/global/footer-nav.png) 0px -120px no-repeat; }
ul#gg-footer-nav-left li#gg-join-gang a:hover { background: url(../img/global/footer-nav.png) 0px -60px no-repeat; }
ul#gg-footer-nav-left li#gg-login {  }
ul#gg-footer-nav-left li#gg-login a { display: block; width: 134px; height: 60px; background: url(../img/global/footer-nav.png) -123px -120px no-repeat; }
ul#gg-footer-nav-left li#gg-login a:hover { background: url(../img/global/footer-nav.png) -123px -60px no-repeat; }
ul#gg-footer-nav-right { position: absolute; top: 11px; right: 18px; z-index: 20; height: 38px; padding: 0px; list-style: none; font-size: 1.2em; }
ul#gg-footer-nav-right li { float: left; height: 38px; padding: 13px 6px 0px 6px; background: url(../img/global/footer-spacer.png) 0px 0px no-repeat; overflow: hidden; }
ul#gg-footer-nav-right a { color: #2c4056; text-decoration: none; font-weight: bold; }
ul#gg-footer-nav-right a:hover { color: #2985c0; }
ul#gg-footer-nav-right li.gg-footer-nav-right-blue a { font-weight: normal; color: #2985c0 }
ul#gg-footer-nav-right li.gg-footer-nav-right-blue a:hover { color: #2c4056  }

/* Pop Up
----------------------------------------------------------------------------------------------------------------------------*/
.popup { width: 500px; }
h1.popuptitle { background: url(../img/global/panel-h1-bg.png) bottom no-repeat; margin-bottom: 0px; padding: 15px 20px; }
.popupcontent { padding: 15px 20px; }

/* Added by DK */
p.csc-caption { text-align: center; font-size: 1.2em !important; font-weight: bold; }

td.csc-form-labelcell { height: 40px; }
td.csc-form-labelcell p { margin: 0px 20px 0px 0px; !important; }


div#gg-top-login { position: absolute; z-index: 10; top: -70px; right: 0px; overflow: hidden; }
div#gg-top-login ul { margin: 0px; padding: 0px; }
div#gg-top-login ul li { float: left; text-indent: -9999px; list-style: none !important; }
div#gg-top-login ul li#gg-join-gang a { background:url(../img/global/Header-Login.png) no-repeat scroll 0 -117px transparent; display: block; height: 60px; width: 123px; }
div#gg-top-login ul li#gg-join-gang a:hover { background: url(../img/global/Header-Login.png) 0px -117px no-repeat; }

div#gg-top-login ul li#gg-login a { display: block; width: 106px; height: 60px; background: url(../img/global/Header-Login.png) -123px -110px no-repeat; }
div#gg-top-login ul li#gg-login a:hover { background: url(../img/global/Header-Login.png) -123px -110px no-repeat; }



div.tx-loginboxmacmade-pi1-status {  }

/* Sitemap */
div.csc-menu {  }
div.csc-menu p { padding: 0px !important; margin: 0px !important; }

p.csc-sitemap-level1 { font-size: 2em; padding: 0px 0px 5px 0px !important; }
p.csc-sitemap-level1 a { text-decoration: none; }
p.csc-sitemap-level1 a:hover { text-decoration: underline !important; }

p.csc-sitemap-level2 { font-size: 1.6em; position: relative; left: 20px; }
p.csc-sitemap-level2 a { text-decoration: none; color: #222 !important; }
p.csc-sitemap-level2 a:hover { text-decoration: underline !important; }

p.csc-sitemap-level3 { font-size: 1.4em; position: relative; left: 40px; }
p.csc-sitemap-level3 a { text-decoration: none; color: #444 !important; }
p.csc-sitemap-level3 a:hover { text-decoration: underline !important; }

p.csc-sitemap-level4 { font-size: 1.2em; position: relative; left: 60px; }
p.csc-sitemap-level4 a { text-decoration: none; color: #666 !important; }
p.csc-sitemap-level4 a:hover { text-decoration: underline !important; }

/* Offer boxes */
div.gg-offer-panel { position: relative; width: 234px; height: 215px; margin: 8px 0px 0px 0px; }
div.gg-offer-panel h2 { position: absolute; top: 9px; left: 113px; }
div.gg-offer-panel a { position: absolute; display: block; width: 234px; height: 215px; top: 0px; left: 0px; z-index: 10; }
div#gg-offer-tickets { background: url(../img/gg-buytickets.jpg); }
div#gg-offer-official { background: url(../img/gg-officialsite.jpg); }
div#gg-offer-shop { background: url(../img/gg-shop.jpg); }

/* Twitter feed */
ul.marquee {
	/* required styles */
	display: block;
	padding: 0;
	margin: 16px 0 0 17px;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
	/* optional styles for appearance */
	width: 300px;
	height: 22px; /* height should be included to reserve visual space for the marquee */
}
ul.marquee li {
	/* required styles */
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */
	/* optional styles for appearance */
	padding: 3px 5px;
}
ul.marquee li a { text-decoration: none; color: #0968B4; }
ul.marquee li a:hover { color: #003E7F; }

img#gg-game-holding { padding: 7px 0px 0px 4px; }


/* TYPO3 Form Styling */
/*C9EFF8*/
table.csc-mailform {  }
table.csc-mailform tr {  }
table.csc-mailform tr td { border-bottom: 1px solid #C9EFF8; }
table.csc-mailform tr td.csc-form-fieldcell { font-size: 1.2em; }
span.csc-form-radio {  }

#edit-dets-btn{
	top:0px;
	left:0px;
	font-size:20px;
	}